<html ng-app="myApp">

<head>
    <title>Calculator App</title>
    <script src="angular.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>Calculator App</h1>
    <div ng-controller="CalculatorCtrl as ctrl">
        <input type="number" ng-model="ctrl.input1"></input>
        <span ng-bind="ctrl.selectedOperation">&160;</span>
        <input type="number" ng-model="ctrl.input2"></input>
        <button ng-click="ctrl.calculate()">=</button>
        <span ng-bind="ctrl.resultValue"></span>

        <p>Choose operation
            <button ng-click="ctrl.buttonClick('+')">+</button>
            <button ng-click="ctrl.buttonClick('-')">-</button>
            <button ng-click="ctrl.buttonClick('*')">*</button>
            <button ng-click="ctrl.buttonClick('/')">/</button>
        </p>
    </div>
</body>

</html>